<article class="explain">
  <h3 class="explain__title">¿Qu&eacute; es (Nombre de la app)?</h3>
  <section class="explain__body">
    <div class="explain__body--bar">

    </div>
    <div class="explain__body--text">
      <p>Breve descripci&oacute;n de la aplicacion Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt placeat, eligendi labore esse earum, cum laborum ex quae quaerat voluptatem, officia explicabo fugiat maiores accusamus laudantium porro hic autem vero.</p>
    </div>
  </section>
</article>
