<header class="main-header">
  <div class="header-icon">
    <a routerLink="/home">
      <img src="/assets/icon.png" alt="Icon">
    </a>
  </div>
  <nav class="header-nav">
    <ul>
      <li><a routerLink="/home">Pagina de inicio</a></li>
      <li>
        <span>Registrarse</span>
        <ul>
          <li><a routerLink="/applicant-signup">Aspirantes</a></li>
          <li><a>Reclutadores</a></li>
        </ul>
      </li>
      <li>
        <span>Ingresar</span>
        <ul>
          <li><a>Aspirantes</a></li>
          <li><a>Reclutadores</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
