<main class="options">
  <a routerLink="/login-applicant">
    <article class="options__card">
      <section>
        <figure>
          <i class="fa-solid fa-user-group"></i>
        </figure>
        <h3>INGRESA COMO ASPIRANTE</h3>
        <span></span>
      </section>
    </article>
  </a>
  <a href="/login-recluter">
    <article class="options__card">
      <section class="p-5 flex flex-col items-center gap-3">
        <figure>
          <i class="fa-solid fa-suitcase"></i>
        </figure>
        <h3>LOGEATE COMO RECLUTADOR</h3>
        <span></span>
      </section></article
  ></a>
  <a href="/signup-applicant">
    <article class="options__card">
      <section>
        <figure>
          <i class="fa-solid fa-lightbulb"></i>
        </figure>
        <h3>Registrate como aspirante</h3>
        <span></span>
      </section>
    </article>
  </a>
  <a href="/signup-recluter">
    <article class="options__card">
      <section>
        <figure>
          <i class="fa-solid fa-house-chimney"></i>
        </figure>
        <h3>Regístrate como reclutador</h3>
        <span></span>
      </section></article
  ></a>
</main>
