@import '/src/styles/variables.scss';

.topbar {
  display: block;
  position: relative;
  z-index: 10;
  box-shadow: 0 5px 10px 0 $secundary-color;
}

.presentation {
  display: block;
  position: relative;
  z-index: 1;
}
